@import "../styles/variables.css";

.greeting {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.greeting h1 {
  text-align: center;
}

.greeting p {
  text-align: center;
  font-size: 1rem;
}

.greeting .greeting-img {
  margin: 0 auto;
  max-width: 250px;
  margin-bottom: -9%;
}

.greeting .greeting-img img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: drop-shadow(10px 4px 6px var(--black));
  -webkit-filter: drop-shadow(10px 4px 6px var(--black));
}

.about-me {
  background-color: var(--blue);
  color: white;
  text-align: center;
  padding: 10% 30%;
}

.skills {
  margin: -5% 4rem 4rem;
  text-align: center;
  background-color: var(--white);
  border: 1px solid #e6ecf8;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.skills .skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -webkit-box-shadow: 0px 10px 7px -4px rgba(52, 52, 52, 0.22);
  -moz-box-shadow: 0px 10px 7px -4px rgba(52, 52, 52, 0.22);
  box-shadow: 0px 10px 7px -4px rgba(52, 52, 52, 0.22);
}

.skills-container .skill-card {
  border-right: 1px solid #e6ecf8;
  padding: 2rem;
}
.skills-container .skill-card:last-of-type {
  border-radius: 0 20px 20px 0;
  -webkit-border-radius: 0 20px 20px 0;
  -moz-border-radius: 0 20px 20px 0;
  -ms-border-radius: 0 20px 20px 0;
  -o-border-radius: 0 20px 20px 0;
}
.skills-container .skill-card ul {
  list-style: none;
}
.skills-container .skill-card .list-title {
  color: var(--secondary);
  font-weight: 700;
  margin-top: 1rem;
}

.work-experience {
  text-align: center;
  margin-bottom: 4rem;
}

.company-logos {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
  gap: 4rem;
  justify-content: center;
}

.company-logos img {
  object-fit: contain !important;
}

.contact {
  display: flex;
  justify-content: center;
  margin-bottom: -5rem;
}

.contact-container {
  max-width: 80%;
  border-radius: 20px;
  color: white;
  background-color: #141c3a;
  padding: 3rem 2rem;
  display: flex;
  align-items: center;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.contact .contact-container .contact-title{
  font-family: var(--font-family-title);
  font-size: 23px;
  padding: 0 2rem;
}

.contact .contact-container .contact-info{
  padding: 0 2rem;
}

.contact .contact-container .contact-link{
  font-size: 20px;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 20px;
  border: 1px solid var(--blue);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.contact .contact-container .contact-link:hover{
  transition: all 0.3s ease-out;
  background-color: var(--blue);
  color: var(--black);
  font-weight: bold;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}



@media only screen and (max-width: 768px){
  .greeting .greeting-img {
    margin-bottom: -11.5%
  }

  .about-me {
    padding: 15% 10%;
  }

  .contact-container {
    display: block;
  }

  .contact .contact-container .contact-title {
    padding-bottom: 1.5rem;
  }
  .contact .contact-container .contact-info {
    padding-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 425px){
  .greeting .greeting-img {
    margin-bottom: -20.5%
  }

  .about-me {
    padding: 20% 10%;
  }
}